<div class="col">
    <h1 class="text-center">Listado PQR</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Tipo PQR</th>
                <th scope="col">Tipo documento</th>
                <th scope="col">Número documento</th>
                <th scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pqr of pqrs; let i = index">
                <th scope="row">{{ pqr.id }}</th>
                <td>{{ pqr.requestType ? pqr.requestType : '-' }}</td>
                <td>{{ pqr.documentType ? pqr.documentType : '-' }}</td>
                <td>{{ pqr.documentNumber ? pqr.documentNumber : '-' }}</td>
                <td>{{ pqr.requestDetail ? pqr.requestDetail: '-' }}</td>
            </tr>
        </tbody>
    </table>
</div>