<div class="col">
    <h1 class="text-center">Formulario PQR</h1>
    <div class="form-floating mt-4">
        <select class="form-select" id="floatingSelectRequestType" [(ngModel)]="pqr.requestType">
            <option selected>Seleccione una opción</option>
            <option [value]="1">Petición</option>
            <option [value]="2">Queja</option>
            <option [value]="3">Reclamo</option>
        </select>
        <label for="floatingSelectRequestType">Tipo PQR</label>
    </div>
    <div class="form-floating mt-3">
        <select class="form-select" id="floatingSelectDocumentType" [(ngModel)]="pqr.documentType">
            <option selected>Seleccione una opción</option>
            <option [value]="1">CC</option>
            <option [value]="2">NIT</option>
        </select>
        <label for="floatingSelectDocumentType">Tipo documento</label>
    </div>
    <form class="form-floating mt-3">
        <input type="text" class="form-control" id="floatingInputValueDocumentNumber" [(ngModel)]="pqr.documentNumber">
        <label for="floatingInputValue">Número documento</label>
    </form>
    <div class="form-floating mt-3 mb-3">
        <textarea class="form-control" id="floatingTextareaRequestDetail" [(ngModel)]="pqr.requestDetail"></textarea>
        <label for="floatingTextareaRequestDetail">Descripción</label>
    </div>
    <div class="row justify-content-around">
        <button class="btn btn-primary col-3" type="button" (click)="createPqr()">Enviar</button>
        <button class="btn btn-secondary col-3" type="reset">Limpiar</button>
    </div>
    <div *ngIf="submitted">
        <h3>La solicitud se ha creado exitosamente!!</h3>
    </div>
</div>