<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PQR</a>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <app-form-pqr></app-form-pqr>
  </div>
  <hr class="mt-5">
  <div class="row">
    <app-list-pqr></app-list-pqr>
  </div>
</div>